<!DOCTYPE html>
<html data-ng-app="apiApp">
<head>
<meta charset="ISO-8859-1">
<title>Twitter Heat Map</title>
<link rel="stylesheet" href="maps.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD6mcx3IufAZrHeCp8MUD4K_ZPW884BeNs&
       sensor=false&language=en&libraries=visualization"></script>
<script type="text/javascript" src="resources/js/maps.js"></script>
<script src="resources/js/angular-websocket.js"></script>
</head>
<body>
<!--  <div data-ng-controller="tweetIndexController"></div>-->
<div data-ng-controller="tweetIndexController">
    <div id="indexMessage">"First Message"</div>
    <div id="floating-panel">
      <button data-ng-click='getTweets("trump", 0)'>Donald Trump</button>
      <button data-ng-click='getTweets("cruz", 0)'>Ted Cruz</button>
      <button data-ng-click='getTweets("rubio", 0)'>Marco Rubio</button>
      <button data-ng-click='getTweets("clinton", 0)'>Hillary Clinton</button>
      <button data-ng-click='getTweets("obama", 0)'>Barak Obama</button>
      <button data-ng-click='getTweets("oscars", 0)'>Oscars</button>
      <button data-ng-click='getTweets("modi", 0)'>Narendra Modi</button>
      <button data-ng-click='getTweets("amazon", 0)'>Amazon</button>
      <button data-ng-click='getTweets("facebook", 0)'>Facebook</button>
    </div>
    <div id="map"></div>
</div>
</body>
</html>